.toggleWrapper {
    overflow: hidden;
    
    input {
      position: absolute;
    }

    span {
      margin: 0 !important;
    }
  }
  
  
  .toggle {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 40px;
    height: 20px;
    background-color: #e5e9ec;
    border-radius: 90px - 6;
    transition: background-color 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    
    
  }
  
  
  .toggle__handler {
    display: inline-block;
    position: relative;
    z-index: 1;
    top: -2px;
    left: 5px;
    width: 10px;
    height: 10px;
    background-color: #D89B00;
    border-radius: 50px;
    transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform:  rotate(-45deg);
    
    .crater {
      position: absolute;
      background-color: #E8CDA5;
      opacity: 0;
      transition: opacity 200ms ease-in-out;
      border-radius: 100%;
    }
    
    .crater--1 {
      top: 6px;
      left: 3px;
      width: 2px;
      height: 2px;
    }
    
    .crater--2 {
      top: 3px;
      left: 9px;
      width: 4px;
      height: 4px;
    }
    
    .crater--3 {
      top: 10px;
      left: 6px;
      width: 3px;
      height: 3px;
    }
  }
  
  .star {
    position: absolute;
    background-color: var(--yellow);
    transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    border-radius: 50%;
  }
  
  .star--1 {
    top: 3px;
    left: 6px;
    z-index: 0;
    width: 2px;
    height: 2px;
  }
  
  .star--2 {
    top: 9px;
    left: 2px;
    z-index: 0;
    width: 2px;
    height: 2px;
  }
  
  .star--3 {
    top: 15px;
    left: 5px;
    z-index: 0;
    width: 2px;
    height: 2px;
  }
  
  .star--4 {
    top: 15px;
    left: 12px;
    z-index: 0;
    width: 2px;
    height: 2px;
  }
  
  .star--5 {
    top: 3px;
    left: 12px;
    z-index: 0;
    width: 2px;
    height: 2px;
  }
  
  .star--6 {
    top: 9px;
    left: 16px;
    z-index: 0;
    width: 2px;
    height: 2px;
  }
  
  input:checked {
    + .toggle {
      background-color: #292828;
    
      &:before {
        color: #749ED7;
      }
  
      &:after {
        color: #ffffff;
      }
      
      .toggle__handler {
        background-color: #FFE5B5;
        transform: translate3d(20px, 0, 0) rotate(0);
        top: 1px;
        left: 2px;
        width: 16px;
        height: 16px;
        .crater { opacity: 1; }
      }

      .star {
        background-color: white;
      }
      
      .star--1 {
        width: 1px;
        height: 1px;
        transform: translate3d(0, 2px, 0);
      }
      
      .star--2 {
        width: 2px;
        height: 2px;
        transform: translate3d(10px, -2px, 0);
      }
      
      .star--3 {
        width: 2px;
        height: 2px;
        transform: translate3d(2px, -2px, 0);
      }
      
      .star--4 {
        width: 1px;
        height: 1px;
        transform: translate3d(2px, 0, 0);
      }
      
      .star--5 {
        width: 1px;
        height: 1px;
        transform: translate3d(8px, 0, 0);
      }
      
      .star--6 {
        width: 1px;
        height: 1px;
        transform: translate3d(2px, 2px, 0);
      }
    }
  }
  