:root {
    --header-color: #E1CCBA;
    --text-color: #303030;
    --yellow: #D89B00;
    --pink: #E1CCBA;
    --lightGrey: #C4C4C4;
    --body-color: rgb(0,0,0,.8);
}

html, body {
    margin: 0;
    color: var(--text-color);
    font-family: "Futura";
}

@font-face {
    font-family: "Ramona";
    src: url("../fonts/Ramona-Light.ttf");
}

@font-face {
    font-family: "Futura";
    src: url("../fonts/futura_medium.ttf");
}

@font-face {
    font-family: "RamonaBold";
    src: url("../fonts/Ramona-Bold.ttf");
}

.heading {
    font-family: "Ramona";
}
