@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
:root {
    --background: white;
    --card-background: white;
    --header-color: #E1CCBA;
    --text-color: #303030;
    --yellow: #D89B00;
    --pink: #E1CCBA;
    --footer: #E1CCBA;
    --link:#D89B00;
    --lightGrey: #C4C4C4;
    --box-shadow: 0px 4px 10px rgb(214 214 214 / 24%);
}

html, body {
    margin: 0;
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: "Futura";
  scroll-behavior: smooth;
  transition: background-color 200ms ;

  & .lightIcon {
    display: none;
  }

  & .darkIcon {
    display: block;
  }
}

body.dark {
    --background: #303030;
    --card-background: #292828;
    --header-color: #E1CCBA;
    --text-color: white;
    --yellow: #d4ac47;
    --pink: rgb(184, 162, 142);
    --footer: #b8a28e;
    --link:white;
    --lightGrey: #C4C4C4;
    --box-shadow: 0px 4px 10px rgb(0 0 0 / 24%);

    & .lightIcon {
      display: block;
    }
  
    & .darkIcon {
      display: none;
    }

    & .wave {
      background: url("../images/waveDark.svg") repeat-x;
    }
}

@font-face {
    font-family: "Ramona";
    src: url("../fonts/Ramona-Light.ttf");
}

@font-face {
    font-family: "Futura";
    src: url("../fonts/futura_medium.ttf");
}

@font-face {
    font-family: "RamonaBold";
    src: url("../fonts/Ramona-Bold.ttf");
}

.heading {
    font-family: "Ramona";
}

$pink:var(--pink);
.link{
        position: relative;
        overflow: hidden;
        text-decoration: none;
        color: var(--link);
        &::after {
          content: "";
          background: $pink;
          position: absolute;
          right: -2%;
          bottom: -4px;
          width: 90%;
          height: calc(100% - 12px);
          z-index: -1;
          transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
        }
        &:hover{
            color: white;
            transition: 0.35s;
        }
        &:hover:after {
          left: -5%;
          bottom: -1%;
          width: 110%;
          height: 102%;
        }
      
}


@keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }

  @keyframes swell {
    0%, 100% {
      transform: translate3d(0,-25px,0);
    }
    50% {
      transform: translate3d(0,5px,0);
    }
  }

  
  @keyframes morph {
    0% {
        border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
      } 
      
      50% {
        border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
      }
    
      100% {
        border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
      } 
  }